body {
  padding: 0em;
  font-size: 16px; 
}
.brp-label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.brp-main-header {
  background-color:#005D84;
  height: 1.5em;
  padding: 10px;
}
.brp-blue-header {
  font-size: 1.25em !important;  
  font-weight: bold;
  background-color:#005D84;
  color: white;
}
.brp-grey-header {
  font-size: 1.25em !important; font-weight: bold; background-color:#A5A5A5; color: black;
}
.brp-beige-header {
  font-size: 1.25em !important; font-weight: bold; background-color:#FFF2CC; color: black;
}
.brp-orange-header {
  font-size: 1.25em !important; font-weight: bold; background-color:#EFB210; color: black;
}

.brp-main-header-text {
  color: white; font-weight: bold; font-style: normal; font-size: 1.25em !important; margin-left: 10px; margin-top: 20px;
}

.brp-project-details-table {
  border: 1px solid black; width: 48%; float: left;
}
.brp-project-kpi-table {
  border: 1px solid black; 
  width: 48%; 
  float: right; 
  margin-bottom: 25px;
}
.brp-project-full-width-table {
  border: 1px solid black; 
  width: 100%; 
  margin-bottom: 25px; 
  clear:both;
}
.brp-project-full-width-table tr {
  border: 1px solid black;
}
.brp-project-full-width-table tr th {
  border: 1px solid black;
}

.brp-green-bg {
  background-color:#4CD137;
}
.brp-yellow-bg {
  background-color:#FFDD59;
}
.brp-red-bg {
  background-color:#FF3838;
}
.brp-orange-bg {
  background-color:#FF9900;
}

.brp-comments-header-row {
  border-bottom:1px solid black; font-weight: bold;
}
.brp-table-data-row {

}
.brp-comments-data-row {

}

.brp-project-full-width-table tr:nth-child(odd) {background-color: #EEE;}